<!--Musab_baslangic-->
<footer>

    <div class="container">
        <div class="footer_contain">

            <div class="footer__top">
                <div class="footer__brand">
                    <a href="#" class="footer__logo">
                        <svg class="footer__logo-icon">
                            <use href="../image/icons.svg#icon-logo_all"></use>
                        </svg>
                    </a>
                    <P class="footer__text">
                        Whether you're looking for a healthy snack or a thoughtful gift,
                        our fruit baskets are the perfect choice.
                    </P>
                </div>
                <div class="block">
                    <nav class="footer__nav">
                        <a href="#how-it-works" class="footer__nav-link">HOW IT WORKS</a>
                        <a href="#vegetables" class="footer__nav-link">VEGETABLES</a>
                        <a href="#reviews" class="footer__nav-link">REVIEWS</a>
                    </nav>

                    <address class="footer__contact">
                        <a href="tel:+380684439426" class="footer__phone">+380(68)443-94-26</a>
                        <p class="footer__address">1678 S. Pioneer Road Salt<br />Lake City UT 84104</p>
                    </address>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__legal">
                    <a href="#" class="footer__legal-link">Privacy Policy</a>
                    <p class="footer__legal-divider">/</p>
                    <a href="#" class="footer__legal-link">Cookie settings</a>
                </div>
                <p class="footer__copyright">©Green Harvest 2023</p>
            </div>
        </div>
    </div>

</footer>
<!--Musab_bitiris-->