<!--Furkan_baslangic-->

<header>

    <div class="container">
        <a class="logo_header" href="../index.html">

            <svg class="logo_header_icon">
                <use xlink:href="./image/icons.svg#icon-logo_all"></use>
            </svg>
        </a>

        <nav>
            <ul class="navlist">

                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#vegetables">Vegetables</a></li>
                <li><a href="#reviews">Reviews</a></li>

            </ul>

            <button class="b_shop" onclick="location.href='#your_order';">SHOP NOW</button>
        </nav>

    </div>

</header>

<!--Furkan_bitiris-->