<!--Atahan_baslangic-->
<section class="how_is_work">
    <div class="container">
        <section class="how-it-works" id="how-it-works">
        <h2 class="visually-hidden">How it works</h2>

        <div class="how-it-works-container">
          <div class="how-it-works-image-side">
            <img
              class="how-it-works-image"
              src="./images/how-it-works-desktop.jpg"
              alt="Woman preparing fresh vegetables"
            />
          </div>

          <div class="how-it-works-content">
            <h3 class="how-it-works-title">
              To order your
              <span class="how-it-works-accent">vegetable</span>
              basket, simply follow these
              <span class="how-it-works-accent">easy steps</span>
            </h3>

            <p class="how-it-works-description">
              Our baskets are assembled with care and delivered straight to your
              doorstep, so you can enjoy the taste of fresh fruit without ever
              leaving your home.
            </p>

            <ol class="how-it-works-list">
              <li class="how-it-works-item">
                <p class="how-it-works-item-text">
                  Just choose
                  <strong>the vegetable</strong>
                  you want to order by clicking on the checkboxes
                  <strong>next to it.</strong>
                </p>
              </li>

              <li class="how-it-works-item">
                <p class="how-it-works-item-text">
                  Click on
                  <strong>the basket</strong>
                  and fill out the form.
                </p>
              </li>

              <li class="how-it-works-item">
                <p class="how-it-works-item-text">
                  Sit back and relax! Your
                  <strong>fresh vegetables</strong>
                  basket will be delivered.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </section>
    </div>
</section>
<!--Atahan_bitiris-->