<div class="modal_menu isopen">
    <div class="modal_menu_contant">

        <a class="close_btn" href="./index.html">

            <svg class="close_icon">
                <use href="./image/icons.svg#icon-close"></use>
            </svg>

        </a>

        <nav>
            <ul class="navlist_modal">

                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#vegetables">Vegetables</a></li>
                <li><a href="#reviews">Reviews</a></li>

            </ul>
        </nav>

        <button class="b_shop_menu" onclick="location.href='#your_order';">SHOP NOW</button>

    </div>
</div>