<div class="modal_menu js-menu" id="mobile-menu">
  <div class="modal_menu_contant">

    <button
      class="close_btn js-close-menu"
      type="button"
      aria-label="Close menu"
    >
      <svg class="close_icon" aria-hidden="true">
        <use href="./image/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav>
      <ul class="navlist_modal">
        <li>
          <a class="js-menu-link" href="#how-it-works">How It Works</a>
        </li>

        <li>
          <a class="js-menu-link" href="#vegetables">Vegetables</a>
        </li>

        <li>
          <a class="js-menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <a class="b_shop_menu js-menu-link" href="#your_order">
      SHOP NOW
    </a>

  </div>
</div>