<!--Atahan_baslangic-->
<section class="vegetables">
    <div class="container">
              <section class="vegetables" id="vegetables">
        <div class="vegetables-container">
          <div class="vegetables-heading">
            <h2 class="vegetables-title">
              Organic
              <span class="vegetables-title-accent">vegetables</span>
            </h2>

            <p class="vegetables-description">
              Our organic vegetables are hand-picked from local farms and
              delivered straight to your doorstep, ensuring that you get the
              freshest and most nutritious produce possible.
            </p>
          </div>

          <ul class="vegetables-list">
            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Eggplant</h3>
              <p class="vegetables-card-price">60 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./images/eggplant.png"
                alt="Eggplant"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Leek</h3>
              <p class="vegetables-card-price">50 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./images/leek.png"
                alt="Leek"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Mushrooms</h3>
              <p class="vegetables-card-price">40 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./images/mushrooms.png"
                alt="Mushrooms"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Corn</h3>
              <p class="vegetables-card-price">60 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./images/corn.png"
                alt="Corn"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Sweet potatoes</h3>
              <p class="vegetables-card-price">50 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./images/sweet-potatoes.png"
                alt="Sweet potatoes"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Carrot</h3>
              <p class="vegetables-card-price">40 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./images/carrot.png"
                alt="Carrot"
              />
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
    </div>
</section>
<!--Atahan_bitiris-->