<!--Atahan_baslangic-->
<section class="vegetables" id="vegetables">
  <div class="vegetables-container">
          <div class="vegetables-heading">
            <h2 class="vegetables-title">
              Organic
              <span class="vegetables-title-accent">vegetables</span>
            </h2>

            <p class="vegetables-description">
              Our organic vegetables are hand-picked from local farms and
              delivered straight to your doorstep, ensuring that you get the
              freshest and most nutritious produce possible.
            </p>
          </div>

          <ul class="vegetables-list">
            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Eggplant</h3>
              <p class="vegetables-card-price">60 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./image/vegetables/eggplant.png"
                srcset="
                ./image/vegetables/eggplant.png 1x,
                ./image/vegetables/eggplant@2x.png 2x
                "
                alt="Eggplant"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Leek</h3>
              <p class="vegetables-card-price">50 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./image/vegetables/leek.png"
                srcset="
                ./image/vegetables/leek.png 1x,
                ./image/vegetables/leek@2x.png 2x
                "
                alt="Leek"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Mushrooms</h3>
              <p class="vegetables-card-price">40 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./image/vegetables/mushrooms.png"
                srcset="
                ./image/vegetables/mushrooms.png 1x,
                ./image/vegetables/mushrooms@2x.png 2x
                "
                alt="Mushrooms"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Corn</h3>
              <p class="vegetables-card-price">60 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./image/vegetables/corn.png"
                srcset="
                ./image/vegetables/corn.png 1x,
                ./image/vegetables/corn@2x.png 2x
                "
                alt="Corn"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Sweet potatoes</h3>
              <p class="vegetables-card-price">50 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./image/vegetables/sweet-potatoes.png"
                srcset="
                ./image/vegetables/sweet-potatoes.png 1x,
                ./image/vegetables/sweet-potatoes@2x.png 2x
                "
                alt="Sweet potatoes"
              />
            </li>

            <li class="vegetables-card">
              <h3 class="vegetables-card-title">Carrot</h3>
              <p class="vegetables-card-price">40 USD / kg</p>

              <img
                class="vegetables-card-image"
                src="./image/vegetables/carrot.png"
                srcset="
                ./image/vegetables/carrot.png 1x,
                ./image/vegetables/carrot@2x.png 2x
                "
                alt="Carrot"
              />
            </li>
          </ul>
        </div>
      </section>
    </div>
</section>
<!--Atahan_bitiris-->