<!--Rumeysa-baslangic-->
<section class="your_order">
    <div class="container">
        <div class="your_order__content">
            <h2 class="your_order__title">Fresh Harvest Box has got you covered</h2>
            <p class="your_order__text">
                Ordering from us is quick and easy! Fill out the form below and we will contact you!
            </p>

            <form class="your_order__form" novalidate>
                <label class="your_order__label">
                    <input class="your_order__input" type="text" name="name" placeholder="Name" required />
                </label>

                <label class="your_order__label">
                    <input class="your_order__input" type="email" name="email" placeholder="Email"
                        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required />
                </label>

                <label class="your_order__label">
                    <textarea class="your_order__textarea" name="message" placeholder="Message"></textarea>
                </label>

                <button class="your_order__btn" type="submit">Send</button>
            </form>

            <ul class="your_order__socials">
                <li class="your_order__social-item">
                    <a class="your_order__social-link" href="https://www.instagram.com/goit.turkiye/" target="_blank"
                        rel="noopener noreferrer">Instagram</a>
                </li>
                <li class="your_order__social-item">
                    <a class="your_order__social-link" href="https://m.youtube.com/@GoITTurkey" target="_blank"
                        rel="noopener noreferrer">YouTube</a>
                </li>
                <li class="your_order__social-item">
                    <a class="your_order__social-link"
                        href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/" target="_blank"
                        rel="noopener noreferrer">Facebook</a>
                </li>
            </ul>
        </div>

        <div class="your_order__image-wrapper">
            <img class="your_order__image" src="../image/order-photo.jpg"
                alt="Woman preparing fresh vegetables in the kitchen" width="500" height="600" />
        </div>
    </div>
</section>
<!--Rumeysa_bitiris-->