footer {
  background-color: #7a3145;
}

footer .conteiner{
    padding: 52px 100px ;
}


.footer__top {
  display: flex;
  justify-items: flex-start;
  width: 1080px;
  height: 144px;
}

.footer__brand {
    width: 265px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 250px;
}

.footer__logo-icon {
  width: 216px;
  height: 20px;
  flex-shrink: 0;
  fill: #fff;
}

.footer__text {
  font-size: 14px;
  line-height: 1.4;
}

.block{
    display: flex;
    gap: 121px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__nav a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__contact {
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__contact a {
  color: #fff;
  text-decoration: none;
}

.footer__bottom {
    width: 1080px;
        height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer__legal {
  display: flex;
  gap: 12px;
}

.footer__legal a {
  color: #fff;
  text-decoration: none;
}
