.hero .container {
    display: flex;
    background-color: #576F35;
    /*width: 1200px;*/
    margin: 0 auto;
    /*padding: 0 15px;*/
}


.hero_text_img {
    display: flex;

}
*

.hero_text {
    background-color: cyan;
    display: flex;
    flex-direction: column;
    width: 504px;
    height: 564px;
    gap: 128px;
    margin: 232px 36px 0 100px;
}

.hero_img {
   width: 625px;
    height: auto;
    background-image:
            url("../image/sepet.jpg");
        background-size: cover;
        
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
}

.hero_text h1 {
    margin: 0;
    color: #fff;
    font-family: Inter Tight;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -1.5%;
    vertical-align: middle;
    text-transform: uppercase;
}

.hero_text p {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 472px;
    height: 80px;
    margin: 0;
}