@media screen and (min-width: 768px) and (max-width: 1279px) {

  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    text-align: left;
}

  header .container {
  width: 100%;
  padding: 0 32px;
  justify-content: space-between;
  gap: 0;
  }

  .h_navlist {
  display: none;
}

.burger_menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
}

.menu_icon {
  width: 40px;
  height: 40px;
}

  .logo_header {
    width: 216px;
    height: 20px;
  }

  .burger_menu {
    width: 40px;
    height: 40px;
  }

  /*hero*/

  .hero .container {
    width: 768px;
    height: 1020px;
  }

  .hero_text_img {
    gap: 52px;
    width: 768px;
    height: 1020px;
  }

  .hero_text_cover {
    margin-top: 120px;
    width: 704px;
    height: auto;
    padding: 0 32px;
  }

  .hero_text {
    width: 704px;
    height: 312px;
    margin: 0;
    gap: 24px;
  }

  .hero_img {
    width: 768px;
    height: 536px;
  }

  .hero_text h1 {
    margin: 0;
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  .hero_text p {
    margin: 0;
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    width: 603px;
    max-width: 604px;
  }

/*how work*/
.how-it-works-container {
  width: 100%;
  flex-direction: column;
  padding: 0;
}

.how-it-works-image-side {
  width: 100%;
  height: auto;
  padding: 100px 64px;
}

.how-it-works-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.how-it-works-content {
  width: 100%;
  padding: 100px 164px;
}

.how-it-works-title {
  margin-bottom: 24px;
  font-size: 32px;
}

.how-it-works-description {
  margin-bottom: 52px;
  font-size: 16px;
}

.how-it-works-item-text {
  font-size: 16px;
}

  /*advertisement*/

  .advertisement {
    padding: 100px 32px;
    margin: 0;
  }

  .advertisement_content {
    margin: 0;
    width: 704px;
    justify-self: center;
    height: auto;
  }

  .advertisement-text {
    font-size: 64px;
    letter-spacing: 0.015em;
  }

  /*vegetables*/

  .vegetables-container {
    width: 768px;
    padding: 0 32px;
  }

  .vegetables-heading {
    margin-bottom: 52px;
  }

  .vegetables-title {
    margin-bottom: 24px;
    font-size: 64px;
  }

  .vegetables-description {
    font-size: 16px;
  }

  .vegetables-list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .vegetables-card {
    width: 335px;
    height: 376px;
  }

  /*reviews*/

  .reviews {
    padding: 0;
  }

  .reviews .container {
    width: 768px;
    padding: 100px 32px;
  }

  .reviews-title {
    font-size: 64px;
  }

  .reviews-description {
    font-size: 16px;
  }

  .reviews-content {
    width: 553px;
    gap: 24px;
    margin-bottom: 52px;
  }

.reviews-list {
  width: 100%;
  gap: 24px;

  flex-wrap: nowrap;
  flex-direction: row;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.reviews-list::-webkit-scrollbar {
  display: none;
}

.reviews-item {
  flex: 0 0 calc((100% - 24px) / 2);
  width: calc((100% - 24px) / 2);
  height: 228px;

  scroll-snap-align: start;
}

.reviews-dots {
  display: flex;
}

  /*your order*/

  .your_order {
    padding: 0;
  }

  .your_order .container {
    justify-self: center;
    padding: 100px 32px;
  }

  .your_order__title {
    width: 640px;
    height: 276px;
    margin-bottom: 40px;
  }

  .your_order__heading {
    font-size: 64px;
    margin-bottom: 24px;
    line-height: 1.08;
  }

  .your_order__lead {
    font-size: 16px;
    line-height: 1.3;
  }

  .your_order__grid {
    flex-direction: column;
    margin: 0 auto;
    width: 640px;
    height: 1192px;
    gap: 32px;
  }

  .your_order__form-card {
    width: 640px;
    height: 632px;
    padding: 72px 100px;
  }

  .your_order__subheading {
    font-size: 32px;
    margin-bottom: 52px;
    line-height: 1;
  }

  .your_order__field-input {
    height: 52px;
  }

  .your_order__field-input_area {
    height: 96px;
  }

  .your_order__btn {
    width: 100%;
    height: 52px;
    margin-top: 24px;
    font-size: 18px;
  }

  .your_order__info-card {
    width: 100%;
    height: 528px;
    padding: 52px;
  }

  .your_order__image {
    width: 536px;
    height: 316px;
  }

  .your_order__socials-title {
    margin-top: 52px;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 700;
    color: #d4bfc4;
}

 /*footer*/

 footer .container {
     padding: 32px;
 }

 .footer__top {
     width: 100%;
     height: auto;
     flex-direction: row;
     margin-bottom: 100px;
 }

 .footer__brand {
     width: 265px;
     height: 104px;
     margin-right: 212px;
     gap: 24px;
 }

 .footer__logo-icon {
     width: 216px;
     height: 20px;
 }

 .footer__text {
     font-size: 16px;
 }

 .block {
     flex-direction: column;
     gap: 64px;
     margin-top: 0;
 }

 .footer__nav {
     gap: 24px;
 }

 .footer__contact {
     gap: 24px;
 }

 .footer__phone,
 .footer__address {
     font-size: 16px;
 }

 .footer__bottom {
     flex-direction: row;
     width: 100%;
     gap: 16px;
 }

 .footer__legal {
     gap: 8px;
 }

 .footer__legal-link {
     font-size: 16px;
 }

 .footer__legal-divider {
     font-size: 16px;
 }

 .footer__copyright {
     font-size: 16px;
 }

}
